<div id="content">
	<% @venues.each do |venue| %>
		<div class="row">	
			<%= link_to venue do %>
				<div class="venue-button col-md-12">
					<%= venue.name %>
					<br>
					<%= venue.address %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>