// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #30c17d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #30c17d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.according-container {
  width: 85%;
  margin: auto;
  background-color: #1f2d27;
}

.promotion-box--title {
  background-color: #1f2d27;
  color: #30c17d;
  font-size: 2rem;
  margin-top: 2vh;
}

.transaction-wrap {
  display: flex;
}

.transaction-box-info {
  padding: 0.5rem;
  color: #30c17d;
}


.transaction-wrap-btn {
  color: #30c17d;
}

#confirm-button-hide {
  display: none;
}

.panel-title {
  margin-left: 2rem;
  padding: 0.25rem;
}