// // Place all the styles related to the users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 736px){

    body {
      background-color: #30c17d;
    }

    #navlogo{
      margin-left: 45%;
      height: 80px;
      margin: 0;
      margin-left: 90px;
    }

    #mainnavbar{
      padding: 0;

    }

    h2 {
      text-align: center;
      color: #30c17d;
      margin-top: 20px;
      padding-bottom: 20px;
    }

    #logo{
      width: 50%;
      height: 150px;
    }

    #exampleInputEmail1 {
      margin-top: 20px;
      background-color: black;
      color: #30c17d;
      height: 50px;
    }

    #exampleInputPassword1 {
      background-color: black;
      margin-top: 20px;
      height: 50px;
    }

    #logincontainer{
      background-color: #1f2d27;
      width: 350px;
      height: 480px;
      margin-top: 40px;
      margin-left: 0 auto;
      border-radius: 10px;
      color: white;
    }

    #or {
      // margin-left: 150px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;

    }

    #facebook_login{
      text-align: center;
      margin-top: 15px;
      font: bold 13px Arial;
      text-decoration: none;
      background-color: #3B5998;
      width: 50%;
      height: 40px;
      border-radius: 5px;
      margin-left: 25%;


    }

    #facebook_login > a > div{
      color: white;
    }
    #submit1{
      width: 90%;
      height: 50px;
      border-radius: 10px;
      border: none;
      background-color: #30c17d;
      margin-left: 15px;
      margin-top: 20px;

    }
    #uservenuelogin

    #uservenuelogin{
      text-align: center;
    }
    h6{
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: 0.1em;
      margin: 10px 0 20px;
    }

    a:hover{
      text-decoration: none;

    }

    #notice {
      text-align: center;
      color: white;
      margin-top: 30px;
    }
}
@media screen and (min-width: 737px) {
  body {
    background-color: #30c17d;
  }

  // body > nav {
  //   height: 40px;
  // }

  #navlogo{
    margin-left: 45%;
    height: 40px;
    margin: 0;
    margin-left: 20px;
  }

  #mainnavbar{
    padding: 0;

  }


  h2 {
    text-align: center;
    color: #30c17d;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  #logo{
    width: 20%;
    height: 100px;

  }


  #exampleInputEmail1 {
    margin-top: 20px;
    background-color: black;
    color: #30c17d;
  }

  #exampleInputPassword1 {
    background-color: black;
  }

  #logincontainer{
    background-color: #1f2d27;
    width: 900px;
    height: 400px;
    margin-top: 150px;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: -8px 30px 116px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 30px 116px -20px rgba(0,0,0,0.75);
    box-shadow: -8px 30px 116px -20px rgba(0,0,0,0.75);

  }

  #submit1{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #30c17d;

  }

  a {
    color: grey;
  }

  a:hover {
    text-decoration: none;
    color: #30c17d;
  }
  #facebook_login{
    text-align: center;
    margin-top: 15px;
    font: bold 13px Arial;
    text-decoration: none;
    background-color: #3B5998;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    margin-left: 25%;
  }
  #facebook_login > a > div{
    color: white;
  }

  #or {
    // margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: white;

  }
  h6 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

  h6 span {
    background:#fff;
    padding:0 10px;
  }

  #notice {
    text-align: center;
    color: white;
    margin-top: 30px;
  }

}
