.user-show-page{
  text-align: center;

}

#past-transactions {
  background-color:  #1f2d27;
  margin-bottom: 10px;
  border-spacing: inherit;
  border-style: solid;
  color:  #fff;
}

#trans-time{
  color: #30c17d;
}

#trans-price{
  margin-top: 5px;
}
