@media screen and (max-width: 736px){
  #usersignupform{
    background-color: #1f2d27;
    width: 360px;
    height: 480px;
    margin-top: 20px;
    margin-left: 28px;
    border-radius: 15px;
    color: #30c17d;
    text-align: center;
  }

  #signuptext{
    margin-top: 20px;
  }

  #signuptextbox1{
    background-color: black;
    margin-top: 30px;
  }

  #submit3 {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #30c17d;
    // margin-left: 80px;
    margin-top: 40px;
  }

  #doorimg {
    display:none;
  }

}


@media (min-width: 737px){

  #usersignupform {

    color: #30c17d;
    margin-top: 125px;
    margin-left: 300px;
    background-color: #1f2d27;
    border-radius: 7%;
    height: 450px;
    width: 450px;
    text-align: center;
    -webkit-box-shadow: -8px 30px 116px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 30px 116px -20px rgba(0,0,0,0.75);
    box-shadow: -8px 30px 116px -20px rgba(0,0,0,0.75);
  }

  #doorimg{
    margin-top: 100px;
    margin-right: 50px;

  }

  h3 {
    margin-top: 40px;
  }
  h4{
    margin-bottom: 20px;
  }

  #signuptextbox1{
    background-color: black;
  }

  #submit3 {
    width: 50%;
    border-radius: 10px;
    border: none;
    background-color: #30c17d;
  }

}
