#navbarSupportedContent{
  background-color: #1f2d27;

}

#search {
  margin-left: 100px;
  margin-bottom: 20px;
}

#content > div > a{
  text-align: center;
  background-color: #1f2d27;
  width: 350px;
  height: 100px;
  color: white;
  margin-left: 7%;

}
