#venuesignupform{
  background-color: #1f2d27;
  width: 360px;
  height: 580px;
  margin-top: 20px;
  margin-left: 28px;
  border-radius: 15px;
  color: #30c17d;
  text-align: center;

}

#venuesignuptext {
  margin-top: 20px;
  margin-bottom: 20px;
}

#venuetextbox1{
  background-color: black;
  color: white;
}

#submit4{
  margin-bottom: 40px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #30c17d;

}

@media (min-width: 768px){

}
