@media screen and (min-width: 737px){


  nav {
    text-align: center;
  }

  a:hover {
    color: white !important;
  }

  #navbarSupportedContent {
    font-size: 120%;
  }
  .venuepromotioncontainer{
    margin-top: 50px;
    margin-right: 150px;
  }

  #edit-form-promotion{
    width: 200px;
    margin-left: 260px;
    background-color: #1f2d27;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 10px;
  }



  #edit-form-submit{
    margin-left: 110px;
    margin-top: 20px;
  }

  #venueheading {
    font-size: 300%;
    margin-left: 160px;
    display: inline;
    margin-top: 200px;
    // margin-right: 200px;
  }

  #googlemap {
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 200px;
    margin: 0;

  }
  //
    .venue-address{
      margin-top: 30px;
      margin-left: 200px;
    }
  #venue-description-display {
    margin-left: 160px;
    margin-top: 20px;
      // text-align: center;
  }

  #desc-edit {
    margin-left: 250px;
    margin-top: 20px;
  }

  #edit-buttons{
    margin-top: 20px;
    margin-left: 320px;
    font-size: 120%;
  }

  #promotion-select-buttons{
    display: flex;
    align-items: center;
  }


  #promotionbuttons {
    margin-left: 365px;
  }

  #promotiontext{
    margin-left: 30px;
    margin-bottom: 20px;
    color: white;
  }

  #promotion-form{
    background-color:  #1f2d27;
    border-radius: 10px;
    padding-bottom: 30px;
    width: 800px;

  }

  #exampleModal2{
    width: 100%;
    position:absolute;
    overflow-y: auto;

  }


  #promotion-form > div > div > div > select:nth-child(7){
    // margin-left: 90px;
    margin-bottom: 10px;


  }

  #promotion-submit{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 135px;
  }

  #navbarSupportedContent > ul > li:nth-child(1) > a{
    color: white;
  }

  #navbarSupportedContent > ul > li:nth-child(2) > a{
    color: white;
  }

  #navbarSupportedContent > ul > li:nth-child(3) > a{
    color: white !important;
  }

  promotion buttons on the bottom of this page
  .wrap-the-button {
    display: flex;
    flex-direction: column;
  }

  #buttons-move{
    margin-left: 200px;
  }

}

@media screen and (max-width: 736px){

  #navbarSupportedContent > ul > li:nth-child(3) > a{
    color: white !important;
  }
  #navbarSupportedContent > ul > li:nth-child(4) > a{
    color: white !important;
  }


  .venue-heading {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    margin: auto;
  }

  .venue-address {
    margin: auto;
    text-align: center;
    width: 50%;
  }

  .venue-description {
    margin: auto;
    text-align: left;
    width: 50%;
    display: flex;
  }

  .venue_google_map {
    width: 100%;
    height: 50vw;
    max-width: 400px;
    max-height: 400px;
  }

  .promotionscontainer {
    margin: auto;
  }

  .promotion-form {
    width: 50vw;
    margin: auto;
    padding: auto;
  }

  #select-day-time {
    color: white !important;
  }

  .promotion-link-on-venue {
    width: 75%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 5px;
    color: white;
    background-color: #1f2d27;
  }
}
