
.venue-heading {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin: auto;
}

.venue-address {
  margin: auto;
  text-align: center;
  width: 50%;
}

.venue-description {
  margin: auto;
  text-align: left;
  width: 50%; 
  display: flex;
}

.venue_google_map {
  width: 100%;
  height: 50vw;
  max-width: 600px;
  max-height: 600px; 
}

.promotionscontainer {
  margin: auto;
}

.promotion-form {
  width: 50vw;
  margin: auto;
  padding: auto;
}

#select-day-time {
  color: white !important;
}

.promotion-link-on-venue {
  width: 75%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  background-color: #1f2d27;
}