
<% if current_venue %>
	<% @promotions.each do |promotion| %>
		<div>
			<% promotion.transactions.each do |transaction| %>
				<% if transaction.active? %>
					<%= transaction.id %>
					<%= transaction.payment_method.user.name%>
					<%= transaction.confirmation_code %>
				<% end %>
			<% end %>
		</div>
	<% end %>
<% end %>


